<!-- 联系我们 -->  
	<include file="header" />


    <!--page_container-->
    <style type="text/css">
<!--
.STYLE4 {font-family: "新宋体"; font-weight: bold; }
.STYLE5 {color: #000000}
.STYLE6 {
	color: #FF0000;
	font-weight: bold;
}
-->
    </style>
    <div class="page_container">
	<div class="breadcrumb">
        	<div class="wrap">
            	<div class="container">
                    <a href="{:U('Home/index')}">首页</a><span>/</span>联系我们
                </div>
            </div>
        </div>
                       
        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="contacts" >
                这里添写联系信息
                <!-- 
                    <p class="STYLE5"><span class="STYLE6">如果</span>你是愿意做诚实生意的社区小生意人，请联系我们，我们将欢迎你成为我们的合作伙伴。我们将帮助你找到更多客户。同一区域内前20名商家我们承诺不收取任何加盟费用，且在该区域内永久免费。</p>
                    <p class="STYLE5"><span class="STYLE6">如果</span>你是有志于从事社区020推广、运营的新时代青年，请联系我们，我们的发展和壮大需要你的加盟。 </p>
                    <p class="STYLE4">联系方式:邮箱：xx QQ  : xx 手机：xx </p>
                     -->
                    </div>
            </div>
        </div>
        <!--//planning-->
    </div>
    <!--//page_container-->
    
  <include file="footer" />
