<include file="header" /> 
	
     
    <!--page_container-->
    <div class="page_container">
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
                <div data-src="__PUBLIC__/img/slider/1.jpg"></div>
                <div data-src="__PUBLIC__/img/slider/2.jpg"></div>
                <div data-src="__PUBLIC__/img/slider/3.jpg"></div>                                      
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->

        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="download" >
                    <div class="span3" >
                        <a href="{:U('Home/index/android_download')}">
                        	<span class="img_icon icon1"></span>
                            <span class="link_title">安卓普通版下载</span>

                        </a>
                    </div>
                    <div class="span3" >
                        <a href="{:U('Home/index/iphone_download')}">
                        	<span class="img_icon icon2"></span>
                            <span class="link_title">苹果普通版官方下载</span>

                        </a>
                    </div>
                     <div class="span3" >
                        <a href="{:U('Home/index/android_download')}">
                        	<span class="img_icon icon3"></span>
                            <span class="link_title">安卓普通版二维码</span>

                        </a>
                    </div>
                    <div class="span3" >
                        <a href="{:U('Home/index/iphone_download')}">
                        	<span class="img_icon icon4"></span>
                            <span class="link_title">苹果普通版二维码</span>
                        </a>
                    </div>                        	
                
                
                                    	
                </div>
            </div>
        </div>
        <!--//planning-->
    </div>
    <!--//page_container-->
    
  
<include file="footer" />


