<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({formID:"mapEditForm",theme:'App',onError:function(msg){},onSuccess:map_SaveEdit,inIframe:true});
	/*$("#map_lng").formValidator({onShow:"请输入经度",onFocus:"只能输入数字"}).regexValidator({ regExp: "num1", dataType: "enum", onError: "格式不正确" });  
	$("#map_lat").formValidator({onShow:"请输入纬度",onFocus:"只能输入数字"}).regexValidator({ regExp: "num1", dataType: "enum", onError: "格式不正确" }); 
	$("#editmap_offhand").formValidator({onShow:"请输入临时价格",onFocus:"只能输入数字"}).regexValidator({ regExp: "num1", dataType: "enum", onError: "格式不正确" }); 
	$("#editmap_forever").formValidator({onShow:"请输入永久价格",onFocus:"只能输入数字"}).regexValidator({ regExp: "num1", dataType: "enum", onError: "格式不正确" }); */
	/*$("#editmapname").formValidator({onShow:"请输入地图名称",onFocus:"请输入地图名称"}).inputValidator({min:2,max:20,empty:{leftEmpty:false,rightEmpty:false,emptyError:"名称两边不能有空格"},onError:"名称应该为2-20位之间"}).ajaxValidator({
		type : "post",
		url : "{:U('Map/public_checkMapname')}",
		data : {mapname: function(){return $("#editmapname").val()}},
		datatype : "json",
		async:'false',
		success : function(data){
			var json = $.parseJSON(data);
            return json.status == 1 ? false : true;
		},
		onError : "该地图名称已经存在",
		onWait : "请稍候..."
	});*/
	/*$("#editmap_user").formValidator({onShow:"请输入创建者uid",onFocus:"只能输入数字"}).ajaxValidator({
		type : "post",
		url : "{:U('Map/public_checkUserid')}",
		data : {uid: function(){return $("#editmap_user").val()}},
		datatype : "json",
		async:'false',
		success : function(data){
			var json = $.parseJSON(data);
            return json.status == 1 ? true : false;
		},
		onError : "用户不存在",
		onWait : "请稍候..."
	});*/
   
})

function map_SaveEdit(){
	var form = new FormData(document.getElementById("mapEditForm"));
	var url='{:U('Map/editmap?id='.$info['id'])}';
	$.ajax({  
	    url :url,
	    type : "POST",  
	    data: form,
        contentType: false,
        processData: false,
	    success : function(data) { 
	    	mapList();
			$.messager.alert('提示信息', data.info, 'info');
			$('#mapEditBox').dialog('close');
	    	
	    },  
	    error : function(data) {  
	    	$.messager.alert('提示信息', data.info, 'error');  
	    }  
	});  
}
</script>
<form id="mapEditForm" style="font-size:13px; padding: 5px 0 0 10px;">
<table cellspacing="5">
	<tr>
		<td>地图文件：</td>
		<td><input id="editmapfile" type="file" name="file" style="width:180px;height:22px" /></td>
		<td><div id="editmapfileTip"></div></td>
	</tr>
	<tr>
		<td>地图名称：</td>
		<td><input id="editmapname" type="text" name="info[mapname]" value="{$info.mapname}" style="width:180px;height:22px" /></td>
		<td><div id="editmapnameTip"></div></td>
	</tr>
	<tr>
		<td>地图ID：</td>
		<td>{$info.id}</td>
	</tr>
	<tr>
		<td>标准比例：</td>
		<td><input id="editstandardScale" type="text" name="info[standardScale]" value="{$info.standardScale}" style="width:180px;height:22px" /></td>
		<td><div id="editstandardScaleTip"></div></td>
	</tr>
	<!--  <tr>
		<td>uid：</td>
		<td><input type="text" id="editmap_user" name="info[uid]" value="{$info.uid}"  style="width:180px;height:22px" />
		</td>
		<td><div id="editmap_userTip"></div></td>
	</tr>
	<tr>
		<td>临时下载价格：</td>
		<td><input type="text" id="editmap_offhand" name="info[offhand]" value="{$info.offhand}"  style="width:180px;height:22px" />
		</td>
		<td><div id="editmap_offhandTip"></div></td>
	</tr>
	<tr>
		<td>永久下载价格：</td>
		<td><input type="text" id="editmap_forever" name="info[forever]" value="{$info.forever}"  style="width:180px;height:22px" />
		</td>
		<td><div id="editmap_foreverTip"></div></td>
	</tr>
	<tr>
		<td>位置：</td>
		<td> 经度：<input id="map_lng" name="info[lng]" value="{$info.lng}" type="text" style="width:140px;height:22px" />
		</td>
		<td><div id="map_lngTip"></div></td>
	</tr> 
	<tr>
		<td></td>
		<td>纬度：<input id="map_lat" name="info[lat]" value="{$info.lat}" type="text" style="width:140px;height:22px" />
		</td>
		<td><div id="map_latTip"></div></td>
	</tr> -->
</table>
</form>