<script type="text/javascript">
$(function(){
	$.formValidator.initConfig({formID:"memberAddForm",theme:'App',onError:function(msg){},onSuccess:savememberAdd,inIframe:true});
})
function savememberAdd(){
	$.post('{:U('member/add')}', $("#memberAddForm").serialize(), function(data){
		if(!data.status){
			$.messager.alert('提示信息', data.info, 'error');
		}else{
			memberRefreshList_{$rand}();
			$.messager.alert('提示信息', data.info, 'info');
			$('#memberAddBox').dialog('close');
		}
	})
}
</script>

<form id="memberAddForm" style="font-size:13px; padding: 5px 0px 5px 5px;">
<table id="editBox" cellspacing="5">
	<tr>
		<td width="60" align="right">内容：</td>
		<td><textarea name="content" style="width: 250px; height: 44px;"></textarea></td>
		<td><div id="add_member_contentTip"></div></td>
	</tr>
</table>
</form>