<include file="header" /> 
	
     
    <!--page_container-->
    <div class="page_container">
        <!--slider-->
        <div id="main_slider">
            <div class="camera_wrap" id="camera_wrap_1">
                <div data-src="__IMAGES__/slider/1.jpg"></div>
                <div data-src="__IMAGES__/slider/2.jpg"></div>
                <div data-src="__IMAGES__/slider/3.jpg"></div>                                      
            </div><!-- #camera_wrap_1 -->
            <div class="clear"></div>	
        </div>        
        <!--//slider-->

        <!--planning-->
        <div class="wrap planning">
            <div class="container">
                <div class="download" >
                    <div class="span3" >
                        <a href="{:U('Home/index/android_download')}">
                        	<span class="img_icon icon1"></span>
                            <span class="link_title">安卓下载</span>

                        </a>
                    </div>
                    <div class="span3" >
                        <a href="{:U('Home/index/iphone_download')}">
                        	<span class="img_icon icon2"></span>
                            <span class="link_title">苹果官方下载</span>

                        </a>
                    </div>
                     <div class="span3" >
                        <a href="{:U('Home/index/android_download')}">
                        	<span class="img_icon icon3"></span>
                            <span class="link_title">安卓二维码</span>

                        </a>
                    </div>
                    <div class="span3" >
                        <a href="{:U('Home/index/iphone_download')}">
                        	<span class="img_icon icon4"></span>
                            <span class="link_title">苹果二维码</span>

                        </a>
                    </div>
                    <div class="span3" style="display:none">
                        <a href="#">
                        	<span class="img_icon icon3"></span>
                            <span class="link_title">iPhone越狱版下载</span>
                        	Nunc vel arcu arcu. Nulla mollis feugiat dui id tincidunt. Aenean ac lobortis elit.
                        </a>
                    </div>
                        	
                </div>
            </div>
        </div>
        <!--//planning-->
    </div>
    <!--//page_container-->
    
  
<include file="footer" />


