<script type="text/javascript">
//$(function(){
//	$.formValidator.initConfig({formID:"dynamicForm",theme:'App',onError:function(msg){},onSuccess:dynamic_Add,inIframe:true});
//})
function remove(){
	var file = $("#file").val();  
    if (file == null||file == ""){  
    	$("#wj").remove();
    }  
}
//提交
function dynamicAdd(uid){
	remove();
	$.messager.progress();
	var form = new FormData(document.getElementById("dynamicForm"));
	var url='{:U('User/addDynamic')}';
	url +='?uid='+uid;
	$.ajax({  
	    url :url,
	    type : "POST",  
	    data: form,
        contentType: false,
        processData: false,
	    success : function(data) { 
	    	dyList();
	    	$.messager.progress('close');
	    	
	    	$.messager.alert('提示信息', data.info, 'info'); 
	    	$('#addDynamicBox').dialog('close');
	    },  
	    error : function(data) {  
	    	$.messager.progress('close');
	    	$.messager.alert('提示信息', data.info, 'error');
	    }  
	});  
}

</script>
<form id="dynamicForm" style="font-size:13px; padding: 5px 0 0 10px;">
<table cellspacing="5">
	<tr>
		<td>标题：</td>
		<td><input type="text" name="title" id="titile" style="width:180px;height:22px" /></td>
		<td><div id="user_edit_nicknameTip"></div></td>
	</tr>
	<tr>
		<td>链接：</td>
		<td><input type="text" name="linkurl" id="url" style="width:180px;height:22px" /></td>
		<td><div id="user_edit_nicknameTip"></div></td>
	</tr>
	 <tr>
		<td>位置：</td>
		<td> 经度：<input id="lng" name="lng" type="text" style="width:100px;height:22px" />纬度：<input id="lat" class="easyui-textbox" name="lat" type="text" style="width:100px;height:22px" />
		</td>
		<td><div id="add_menuip"></div></td>
	</tr> 
	<tr id="wj">
		<td>文件：</td>
		<td><input id="file" name="file" type="file" style="width:200px;height:22px;"/>
		</td>
		<td><div id="addeTip"></div></td>
	</tr>
	</table>
	</form>
