<!-- 动态列表 -->
<?php $rand = round(microtime(true),3)*1000;?>
<table id="tabList" class="easyui-datagrid" title="{$currentpos}" data-options="
	fit:true,rownumbers:true,animate:true,fitColumns:false,
	url:'{:U('User/tab',array('uid'=>I('uid',0)))}',idField:'uid',border:false,
	toolbar:'#userToolbar_{$rand}',pagination:true,singleSelect:true">
<thead>
	<tr>
		<th data-options="field:'title',width:140,align:'center'">标题</th>
		<th data-options="field:'money',width:120,align:'center'">金额</th>
		<th data-options="field:'createtime',width:140,align:'center'">时间</th>
		
	</tr>
</thead>
</table>

<div id="userToolbar_{$rand}" style="padding:5px;height:auto">
	<form id="userSearchForm_{$rand}">
		<a href="javascript:;" onclick="tabList();" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>
	</form>
</div>
<script type="text/javascript">
//刷新
function tabList(){
	$('#tabList').datagrid('reload');
}
//头像显示
function buildFace(val,row,index){
/*	if(!val){
		return '<div style="height:60px;padding:3px;margin:auto;"></div>';
	}else{
		return '<div style="padding:3px;"><img src="'+val+'" height="60" style="padding:1px;border:1px solid #ccc;"></div>';	
	}*/
}



</script>