<!-- 列表 -->
<?php $rand = round(microtime(true),3)*1000;?>
<table id="kuaipaiList" class="easyui-datagrid" title="{$currentpos}" data-options="
	fit:true,rownumbers:true,animate:true,fitColumns:false,
	url:'{:U('User/videolist')}',idField:'id',border:false,
	toolbar:'#videoToolbar_{$rand}',pagination:true,singleSelect:true">
<thead>
	<tr>
		<th data-options="field:'uid',width:120,align:'center'">uid</th>
		<th data-options="field:'img',width:200,align:'center',formatter:buildFace">图片</th>
		<th data-options="field:'title',width:300,align:'center'">标题</th>
		<th data-options="field:'createtime',width:150,align:'center'">发布时间</th>
		<th data-options="field:'id',width:120,align:'center',formatter:userOperateText">操作管理</th>
	</tr>
</thead>
</table>

<div id="videoToolbar_{$rand}" style="padding:5px;height:auto">
	<form id="kuaipaiFrom">
		<a href="javascript:;" onclick="kuaipaiList();" class="easyui-linkbutton" data-options="iconCls:'icon-reload',plain:true">刷新</a>
		<input type="text" name="search[name]" placeholder="根据uid搜索" style="height: 20px; width: 120px;padding-left: 3px;">
		<a href="javascript:;" onclick="kuaipaiSearch();" class="easyui-linkbutton" iconCls="icon-search">确定</a>
		<a href="javascript:;" id="addRobt" onclick="javascript:addvideo();" class="easyui-linkbutton" iconCls="icon-add">添加</a>
	</form>
</div>
<div id="addkuaipaiBox" class="easyui-dialog" title="添加视频" 
	data-options="modal:true,closed:true,iconCls:'icon-add',buttons:[{text:'确定',iconCls:'icon-ok',handler:function(){kuaipai_Add();}},{text:'取消',iconCls:'icon-cancel',handler:function(){$('#addkuaipaiBox').dialog('close');}}]"
	style="width: 500px; height: 280px;"></div>

<script type="text/javascript">
//搜索
function kuaipaiSearch(){
	var queryParams = $('#kuaipaiList').datagrid('options').queryParams;
	$.each($("#kuaipaiFrom").form().serializeArray(), function (index) {
		queryParams[this['name']] = this['value'];
	});
	$('#kuaipaiList').datagrid('load');
}
//刷新列表
function kuaipaiList(){
	$('#kuaipaiList').datagrid('reload');
}
//图像显示
function buildFace(val,row,index){
	if(!val){
		return '<div style="height:60px;padding:3px;margin:auto;"></div>';
	}else{
		return '<div style="padding:3px;"><img src="'+val+'" height="60" style="padding:1px;border:1px solid #ccc;"></div>';	
	}
}
//add
function addvideo(){
	var url = '{:U('User/addvideo')}';
	$('#addkuaipaiBox').dialog({href:url});
	$('#addkuaipaiBox').dialog('open');
}
//操作
function userOperateText(val, row, index){
    	return '<a href="javascript:void(0);" onclick="delvideo('+row.id+')">删除</a>';
}			
//删除
function delvideo(id){
	if(typeof(id) !== 'number'){
		$.messager.alert('提示信息', '未选择', 'error');
		return false;
	}
	$.messager.confirm('提示信息', '确定要删除吗？', function(result){
		if(!result) return false;
		$.post('{:U('User/delvideo')}', {id: id}, function(data){
			if(!data.status){
				$.messager.alert('提示信息', data.info, 'error');
			}else{
				kuaipaiList();
				$.messager.alert('提示信息', data.info, 'info');
			}
		}, 'json');
	});

}

</script>